<a href="https://colab.research.google.com/github/Hieudo02/AI-Exercise/blob/main/Buoi1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [45]:
#@title
#Write to file

with open('text.txt', mode = 'w') as accounts:
  accounts.write('20146157 Do Ngoc Hieu 10\n')
  accounts.write('201462 Le Van B 6 \n')
  accounts.write('201463 Le Van C 7 \n')

In [46]:
with open('text.txt', mode = 'w') as accounts:
  print('20146157 Do Ngoc Hieu', file = accounts)

In [ ]:
with open('text.txt', mode = 'v') as accounts:
  print(f"{'Mssv':<10}{'Name':<20}{'Score':>2}")
  for record in accounts:
    Mssv, Name, Score = record.split()
    print(f"{'Mssv':<10}{'Name':<20}{'Score':>2}")

In [80]:
import pandas as pd

url = 'TEST1.csv'
dataframe = pd.read_csv(url) #doc du lieu tu url
dataframe.head(21) #hien thi du lieu tu 0 den 20

    No  MSSV  khoa  Lop  Diem
0    1  2012   CKM  20A   8.0
1    2  2014   CKM  20A   4.0
2    3  2023   CKM  20B   5.0
3    4  2024   CLC  20B   2.1
4    5  2056   CLC  20C   3.4
5    6  2076   CLC  20C   5.7
6    7  1930   CLC  19A   3.2
7    8  1955    IT  19B   2.2
8    9  1933    IT  19C   2.1
9   10  1988    IT  19A   0.1
10  11  1999    IT  19B   2.6
11  12  1900    IT  19A   1.1
12  13  2111   CKM  21A   1.5
13  14  2145   CKM  21A   5.7
14  15  2167  CKDL  21B   3.2
15  16  2177  CKDL  21C   2.2
16  17  2109  CKDL  21C   2.2
17  18  2155   CLC  21B   0.0
18  19  2135   CLC  21A   1.2
19  20  1937  CLKM  19A   5.0

In [ ]:
#Truy suat data
dataframe.iloc[2]
dataframe.iloc[0:10]

In [82]:
#Truy suat cu the data
dataframe = dataframe.set_index(dataframe['Lop'])
dataframe.loc['20A']

Traceback (most recent call last):
  File "/usr/local/lib/python3.8/dist-packages/google/colab/data_table.py", line 182, in _repr_javascript_module_
    return self._gen_js(self._preprocess_dataframe())
  File "/usr/local/lib/python3.8/dist-packages/google/colab/data_table.py", line 158, in _preprocess_dataframe
    dataframe = dataframe.reset_index()
  File "/usr/local/lib/python3.8/dist-packages/pandas/util/_decorators.py", line 311, in wrapper
    return func(*args, **kwargs)
  File "/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py", line 5799, in reset_index
    new_obj.insert(0, name, level_values)
  File "/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py", line 4414, in insert
    raise ValueError(f"cannot insert {column}, already exists")
ValueError: cannot insert Lop, already exists

     No  MSSV khoa  Lop  Diem
Lop
20A   1  2012  CKM  20A   8.0
20A   2  2014  CKM  20A   4.0

In [ ]:
dataframe[dataframe['Ho va ten'] == 'Nguyen Van A'.head(10)] #truy suat tu 10 gia tri dau

In [ ]:
#truy suat tu nhieu thanh phan
dataframe[(dataframe['No'] & dataframe['MSSV'] == 'khoa')]

In [ ]:
#thay the du lieu
dataframe['Khoa'].replace('CKM', 'Co Khi May').head(10)

In [ ]:
'''
diem cao nhat: .max()
diem thap nhat: .min()
diem trung binh: .mean()
tong: sum()
tong so nguoi: count()
'''

In [ ]:
#dem so luong
dataframe['Khoa'].unique()
dataframe['Khoa'].value_counts()

In [ ]:
#Xoa du lieu 1 cot (xoa tren bo nho dem (bo nho tam thoi), chu khong xoa tren file)
dataframe.drop('Mssv', axis = 1).head(10)

dataframe.drop(dataframe.columns[2:4],axis = 1).head(10) #xoa 2 va 3

In [ ]:
#Xoa hang
dataframe[dataframe['khoa'] != 'CKM'].head(10)
dataframe[dataframe['Diem'] != 4].head(10)
dataframe[dataframe.index != 3].head(10) #xoa hang so 3

dataframe.drop_duplicates().head(10) #xoa gia tri hang trung nhau

dataframe.groupby('khoa').count()
dataframe.groupby(['khoa', 'Diem']).count()

In [ ]:
#lay mau~
import pandas as pd
import numpy as np

time_index = pd.date_range('01/01/2023', periods = 100000, freq='30s') #tgian lay mau~ va tan so lay mau~
dataframe = pd.DataFrame(index = time_index)
dataframe['Across_Amount'] = np.random.randint(1,10,100000) #chay ngau nhien so lan truy cap
#neu co dia chi IP thi co' the thay cho random or co' ca?m bien thi doc gia tri ca?m bien len

#tong ket theo tung cot
dataframe.resample('w').sum()

#lay mau~ theo thang
dataframe.resample('M').mean()
dataframe.resample('2w').mean()

In [111]:
import pandas as pd

url = 'http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data.head(1000)
#tim so luong huy chuong cua nuoc bat ky (Lake Placid)
data = data.set_index(data['City'])
a = data.loc['Chamonix'].groupby('Medal').count()


#tim so huy chuong vang theo mon thi ca nhan
data.groupby('NOC')['Medal'].count()

NOC
AUS      6
AUT    185
BEL      5
BLR      6
BUL      6
CAN    119
CHN     33
CRO      7
CZE     10
DEN      1
ESP      2
EST      6
EUA     19
EUN     23
FIN    151
FRA     83
FRG     41
GBR     21
GDR    110
GER    158
HUN      6
ITA    101
JPN     32
KAZ      5
KOR     31
LAT      1
LIE      9
LUX      2
NED     78
NOR    280
NZL      1
POL      8
PRK      2
ROU      1
RUS     76
SLO      4
SUI    118
SVK      1
SWE    118
TCH     25
UKR      5
URS    194
USA    216
UZB      1
YUG      4
Name: Medal, dtype: int64